.calendar-wrapper{
    border: rgba(0,0,0,.15) solid 1px;
    padding: 10px;
    border-radius: 1.5%;
    box-shadow: 0 1px 2px rgba(0,0,0,.05) inset;
    width: 275px;
    margin: 0;
}

.today{
    border-radius: 100%;
    background-color: #990000;
    color: white;
}

.datepicker .table tbody tr td {
    border-top: none;
}

/* .timepicker .table tbody tr td {
    border-top: none;
} */

.pointer{
    cursor: pointer;
}

.timeSelect-wrapper{
    border: rgba(0,0,0,.15) solid 1px;
    padding: 10px;
    border-radius: 1.5%;
    box-shadow: 0 1px 2px rgba(0,0,0,.05) inset;
    width: 275px;
    margin: 0;
}